# Ignora tudo da pasta .terraform, exceto o lock
.terraform/
!terraform.tfstate
!terraform.tfstate.backup
!.terraform.lock.hcl

# Não versionar arquivos de variáveis privadas
terraform.tfvars
*.tfvars